p.success {
  color: $medium_green;
  font-size: 2rem;
  font-weight: 500;
}

section.section.ContactSection div.ContactSection-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
  padding: 10vh 5vw;

  div.ContactSection-container {
    display: flex;
    flex-direction: column;

    button {
      cursor: pointer;
    }

    .form-checkbox {
      display: flex;
      align-items: flex-start;
      margin-bottom: 2.5vh;

      label {
        line-height: 1.8
      }

      input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        width: 26px;
        height: 20px;
        border: 2px solid $greeny_yellow;
        border-radius: 50%;
        background-color: $dark_blue;
        cursor: pointer;
        position: relative;

        &:checked {
          background-color: $greeny_yellow;
          border-color: $greeny_yellow;
          &:after {
            border-color: $dark_blue;
          }
        }

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 4px;
          height: 9px;
          border: solid white;
          border-width: 0 2px 2px 0;
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }
    }


    label {
      margin-left: 5px;

      a {
        color: $greeny_yellow;
      }
    }

    .col {
      display: flex;
    }

    .form-group {
      width: 100%;
      margin-bottom: 20px;

      .form-control {
        -webkit-box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.05);
        box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.05);
        width: 100%;

        padding: 15px 25px;

        font-size: 19px;
        font-family: $df_font_family;

        border-radius: $df_border_radius;
        background: $dark_blue;
        border: 1px solid $dark_blue;

        color: $medium_white;

        &:active, &:focus {
          outline: none;
          border-color: $greeny_yellow;
        }

        &:first-of-type {
          width: calc(100% - 10px);
        }
      }

      .form-area {
        -webkit-box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.05);
        box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.05);
        width: calc(100% - 10px);
        min-width: calc(100% - 10px);
        max-width: calc(100% - 10px);

        color: $medium_white;

        height: 200px;
        max-height: 700px;
        min-height: 200px;

        padding: 15px 25px;

        font-size: 19px;
        font-family: $df_font_family;

        border-radius: $df_border_radius;
        background: $dark_blue;
        border: 1px solid $dark_blue;

        &:first-of-type {
          width: calc(100% - 10px);
        }
      }
    }

  }
}
