section.section.ExplainSection div.ExplainSection-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 70vh;
  padding: 10vh 5vw;

  div.ExplainSection-container {
    margin-top: 40px;
    div.ExplainSection-circle {
      position: relative;
      padding: 20px 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 0 20px;
      margin-top: 5rem;

      &::after {
        content: '';
        position: absolute;
        width: 80%;
        height: 3px;
        background-color: $greeny_yellow;
        top: 0;
      }

      &::before {
        content: '';
        position: absolute;
        width: 80%;
        height: 3px;
        background-color: $greeny_yellow;
        bottom: 0;
      }

      a img {
        min-width: 200px;
        width: 200px;
        max-width: 200px;
        min-height: 200px;
        height: 200px;
        max-height: 200px;
        border-radius: 50%;
        background: #fff;
      }
    }

    div.ExplainSection-team {
      margin-top: 1rem;
      p {
        font-size: 1.675rem;
        margin-bottom: 2.5rem;
      }
    }
  }
}
