
// --- CSS Imports
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

// --- CSS Variables
$df_font_family: 'League Spartan';
$df_font_size: 16px;
$df_font_weight: 400;
$df_font_style: normal;

$df_line_height: 1.4;

$df_text_decoration: none;
$df_text_transform: none;

$df_border_radius: 8px;

$df_duration: 300ms;

$dark_blue: #4127e0;
$dark_purple: #4028ce;
$greeny_yellow: #ccf281;

$dark_green: #264653;
$medium_green: #2a9d8f;
$medium_yellow: #e9c46a;
$medium_orange: #f4a261;
$medium_red: #e76f51;

$medium_white: #ffffff;
